body {
  margin: 0;
  padding: 0;
  align-items: center;
  background-color: blueviolet;
  min-height: 100vh;
  margin-top: auto;
  margin-bottom: auto;
}

.mainpage {
  padding: 10px;
  height: 500px;
  text-align: center;

  padding-top: 10px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: auto;
}
.contactform {
  margin-top: auto;
  margin-bottom: auto;
  width: 500px;
  height: 500px;
  background-color: white;
}
.sidevideo {
  margin-top: auto;
  margin-bottom: auto;
}

#background-video {
  height: 500px;
}

.group {
  position: relative;
  margin: 45px 25px;
}

.group .form-input {
  background: none;
  background-color: white;
  color: grey;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid grey;
  margin: 25px 0;
}

.group .form-input:focus {
  outline: none;
}

.group .form-input:focus ~ .form-input-label {
  top: -14px;
  font-size: 12px;
  color: black;
}

.group input[type="password"] {
  letter-spacing: 0.3em;
}

.group .form-input-label {
  color: grey;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 25px;
  top: 10px;
  transition: 300ms ease all;
}
.group .form-input-label .shrink {
  top: -14px;
  font-size: 12px;
  color: black;
}

.form {
  margin: auto;
}

.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  border: none;
  cursor: pointer;
}

.custom-button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
